@model List<design_pattern.Models.Tables.Reservation>
@using design_pattern.Models.Tables
@using design_pattern.Models.Meal
@{
    ViewData["title"] = "View Tables";
}


<div class="container pt-5">
    @if(ViewBag.TableId > 0){
        <a asp-action="ReserveTable" asp-controller="Reservation" asp-route-BranchName="@ViewBag.BranchName"
            asp-route-TableId="@ViewBag.TableId" class="btn btn-info mb-5">Add Reservation</a>
    }
    @* <form class="row mb-5" style="gap:15px">
        <div class="col-10">
        <div class="d-flex" style="gap: 3rem;">
        <div class="form-check">
        <input class="form-check-input" name="availableOnly" checked="@ViewBag.availableOnly" value="true"
        type="checkbox" id="availableTables">
        <label class="form-check-label" for="availableTables">
        Available Tables only
        </label>
        </div>
        <div class="input-group" style="width: fit-content;">
        <input class="form-control" style="padding-top:1.625rem" name="ReservationDate"
        value="@ViewBag.ReservationDate" type="datetime-local" placeholder="ReservationDate" />
        <label class="text-start position-absolute"
        style="z-index: 3; opacity: .65; padding: 1rem 0; transform: scale(.85) translateY(-0.5rem)
        translateX(0.15rem);">Date</label>
        </div>
        <div class="input-group" style="width: fit-content;">
        <div class="form-floating">
        <input class="form-control" name="Seats" value="@ViewBag.Seats" type="number"
        placeholder="Seats" />
        <label>Seats</label>
        </div>
        </div>
        <div class="input-group" style="width: fit-content;">
        <div class="form-floating">
        <select class="form-select" name="pos" type="text" placeholder="Position">
        <option class="empty-option"></option>
        <option selected="@(ViewBag.pos == 0)" value="0">Indoor</option>
        <option selected="@(ViewBag.pos == 1)" value="1">Outdoor</option>
        </select>
        <label>Position</label>
        </div>
        </div>
        </div>
        </div>
        <div class="col-1">
        <button type="submit" class="btn btn-primary">Filter</button>
        </div>
        </form> *@
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Position</th>
            <th>Reserved By</th>
            <th>Reservation Date</th>
            <th>Status</th>
            <th>Controls</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Table.Seats Seats</td>
                <td>@(d.Table.Position == @PositionType.Indoor ? "Indoor" : "Outdoor")</td>
                <td>@d.CustomerName</td>
                <td>@d.Date</td>
                <td>
                    @{
                        if(d.Status == ReservStatus.Waiting){
                            <span>Waiting Arrival</span>
                        }else if(d.Status == ReservStatus.CheckedIn){
                            <span>Checked In</span>
                        }else if(d.Status == ReservStatus.OrderTaken){
                            <span>Order Taken</span>
                        }else if(d.Status == ReservStatus.CheckedOut){
                            <span>Checked Out</span>
                        }
                    }
                </td>
                <td>
                    <div class="d-flex" style="gap: 15px">
                        @{
                            if(d.Status == ReservStatus.Waiting){
                                <a class="btn btn-info" asp-action="CheckIn" asp-controller="Reservation" asp-route-id="@d.Id"
                                    asp-route-BranchName="@ViewBag.BranchName" asp-route-TableId="@d.Table.Number"
                                >
                                    Check In
                                </a>
                                <a class="btn btn-danger" asp-action="CancelReservation" asp-controller="Reservation" asp-route-id="@d.Id"
                                    asp-route-BranchName="@ViewBag.BranchName" asp-route-TableId="@d.Table.Number"
                                >
                                    Cancel
                                </a>
                                if((DateTime.Now > d.Date.AddHours(1) || DateTime.Now <= d.Date.AddHours(1)) && d.CustomerEmail != string.Empty && d.CustomerPhone != string.Empty){
                                    <a class="btn btn-info" asp-action="SendReminder" asp-controller="Reservation" asp-route-id="@d.Id"
                                        asp-route-BranchName="@ViewBag.BranchName" asp-route-TableId="@d.Table.Number"
                                    >
                                        Send Reminder
                                    </a>
                                }
                            }else if(d.Status == ReservStatus.CheckedIn){
                                <a class="btn btn-primary" asp-action="AddOrder" asp-controller="Order"
                                    asp-route-TableId="@d.Table.Number" asp-route-BranchName="@ViewBag.BranchName"
                                    asp-route-resId="@d.Id"
                                >
                                    Take Order
                                </a>
                            }else if(d.Status == ReservStatus.OrderTaken && d.Order != null && d.Order.Status == OrderStatus.Finished){
                                <a class="btn btn-primary" asp-action="CheckOut" asp-controller="Payments"
                                    asp-route-resId="@d.Id"
                                    asp-route-BranchName="@ViewBag.BranchName"
                                >
                                    CheckOut
                                </a>
                            }
                        }
                        
                    </div>
                </td>
            </tr>
        }
    </table>
</div>