@model design_pattern.Models.Tables.Table
@using design_pattern.Models.Tables
@{
    ViewData["Title"] = "Add Menu Item";
}

<form class="text-center" asp-route="/Menu/MenuSection/@Model.Number/Edit" method="post">
    <h2 class="h2 mb-5">Edit Table</h2>
    @Html.HiddenFor(x=>x.Number)
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="input-group mb-3">
                <div class="form-floating w-100">
                    <input class="form-control" name="Seats" type="number" placeholder="Seats" value="@Model.Seats" />
                    <label>Seats</label>
                    <p class="text-danger w-100 mt-1 d-block">@Html.ValidationMessage("Seats")</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="input-group mb-3">
                <div class="form-floating w-100">
                    <select class="form-select" name="Position" type="text" placeholder="Position">
                        <option hidden class="empty-option"></option>
                        <option selected="@(Model.Position == @PositionType.Indoor)" value="0">Indoor</option>
                        <option selected="@(Model.Position == @PositionType.Outdoor)" value="1">Outdoor</option>
                    </select>
                    <label>Position</label>
                    <p class="text-danger w-100 mt-1 d-block">@Html.ValidationMessage("Position")</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Edit</button>
</form>

@section Scripts{
<script src="/js/menuItems.js"></script>
}